body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #f4f4f4;
    margin: auto;
    text-align: left;
    padding: 12px;
}
h1{
    font-size: 32px;
    color: #000000;
    text-align: center;
    padding: 15px;
    background-color: lightblue;
}   
h2{
    font-size: 10px;
    color: #000000;
    padding: 15px;
}

        h2 {
            font-size: 25px;
        }
        p {
             
            font-size: 20px;
        }
        li {
            font-size: 18px;
        }
        a {
            font-size: 20px;
        }
       .lado-a-lado {
    display: flex;
    justify-content: space-between;   
    align-items: flex-start;         
    gap: 20px;                        
    width: 100%;                   
}
.lado-a-lado.imagem {
   width: 400px;
    height: auto;               
}
.imagem-baixo {
    text-align: right;
    margin-top: 50px;
    height: auto;
  
}